/* Bouncy главная страница */

@media (max-width:1000px) {
    #menulogo {
        width: 50%;
        height: 40px;
        position: absolute;
        top: 80px;
        left: 39%;
    }
    .textmenu {
        font-size: 17px;
        width: 70px;
        height: 30px;
    }
    #gap1 {
        width: 80px;
    }
    #gap2 {
        width: 80px;
    }
    #logo {
        width: 11%;
        height: 6%;
        font-size: 38px;
        position: relative;
        left: 5%;
        top: 71px;
    }
    #hdtext {
        width: 90%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 5%;
        top: 35%;
    }
    #hdh2 {
        font-size: 35px;
        letter-spacing: 7px;
    }
    #hdintext {
        font-size: 20px;
        line-height: 1.5;
    }
    #buttop {
        position: fixed;
        right: 20px;
        top: 5%;
        z-index: 90;
    }
    #butbot {
        position: fixed;
        right: 20px;
        bottom: 5%;
        z-index: 90;
    }
    #buttonbottomblock {
        position: absolute;
        bottom: 8%;
    }
    
    #buttonbottom {
        width: 38px;
        height: 38px;
        transition: 100ms;
    }
}
@media (max-width:800px) {
    #menulogo {
        width: 50%;
        height: 40px;
        position: absolute;
        top: 120px;
        left: 25%;
    }
    .textmenu {
        font-size: 19px;
        width: 70px;
        height: 30px;
    }
    #gap1,
    #gap2 {
        width: 90px;
    }
    #gap3 {
        width: 85px;
    }
    #logo {
        width: 50%;
        height: 6%;
        font-size: 45px;
        position: relative;
        left: 25%;
        top: 52px;
        text-align: center;
    }
    #hdtext {
        width: 90%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 5%;
        top: 40%;
    }
    #hdh2 {
        font-size: 30px;
        letter-spacing: 7px;
    }
    #hdintext {
        font-size: 15px;
        line-height: 1.5;
        margin-top: 25px;
    }
}
@media (max-width:600px) {
    #menulogo {
        width: 50%;
        height: 270px;
        position: absolute;
        top: 15px;
        left: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3px;
    }
    .textmenu {
        font-size: 17px;
        width: 65px;
        height: 25px;
    }
    #gap1,
    #gap2 {
        width: 85px;
    }
    #gap3 {
        width: 80px;
    }
    #logo {
        width: 30%;
        height: 6%;
        font-size: 25px;
        position: relative;
        left: 10px;
        top: 10px;
        text-align: center;
    }
    #hdtext {
        width: 98%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 1%;
        top: 37%;
    }
    #hdh2 {
        font-size: 31px;
        letter-spacing: 3px;
        font-weight: 100;
    }
    #hdintext {
        font-size: 15px;
        line-height: 1.5;
        margin-top: 25px;
    }
}
@media (max-width:400px) {
    #hdtext {
        width: 100%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 0;
        top: 42%;
    }
}
@media (max-width:300px) {
    #menulogo {
        width: 50%;
        height: 270px;
        position: absolute;
        top: 15px;
        left: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3px;
    }
    #hdtext {
        width: 100%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 0;
        top: 42%;
    }
    #hdh2 {
        font-size: 21px;
        letter-spacing: 3px;
        font-weight: 100;
    }
    #hdintext {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 25px;
    }
}

/* Загрузочный экран */

@media (max-width:1200px) {
    #loadtext {
        font-size: 1vw;
    }
}
@media (max-width:1000px) {
    #bouncyload {
        font-size: 14vw;
    }
    #loadtext {
        font-size: 12px;
    }
    #loadline {
        width: 70%;
        height: 4.5%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }
}
@media (max-width:800px) {
    #loadtext {
        font-size: 11px;
    }
    #bouncyload {
        font-size: 13vw;
    }
    #loadline {
        width: 70%;
        height: 5%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }
}
@media (max-width:600px) {
    #loadtext {
        font-size: 10px;
    }
    #bouncyload {
        font-size: 14vw;
    }
    #loadline {
        width: 85%;
        height: 4.5%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }
}
@media (max-width:400px) {
    #loadtext {
        font-size: 8px;
    }
    #bouncyload {
        font-size: 13vw;
    }
    #loadline {
        width: 80%;
        height: 4%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }

}

/* Подробности о Bouncy */

@media (max-width:1000px) {
#detailstext {
    width: 100%;
    height: 25%;
    text-align: center;
    position: relative;
    left: 0;
    top: 150px;
}

#dateilsbouncy {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 700;
}

#textdateils {
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
    width: 100%;
}

#boxbutton{
    width: 40%;
    height: 15%;
    position: relative;
    left: 30%;
    top: 100px;
    gap: 20px;
}

.circlebutton {
    width: 90px;
    height: 90px;
}

#creative {
    width: 40%;
    height: 10%;
    font-size: 30px;
    position: relative;
    left: 30%;
    top: 100px;
    text-align: center;
}

#dsintext {
    width: 98%;
    height: 25%;
    position: relative;
    left: 1%;
    top: 10%;
    display: flex;
    justify-content: space-between;
}

#textleft {
    width: 40%;
    height: 100%;
    font-size: 17px;
    line-height: 2.5;
    text-align: center;
}

#textright {
    width: 60%;
    height: 100%;
    font-size: 14px;
    line-height: 2.5;
    text-align: center;
}
}

@media (max-width:800px) {
    #detailstext {
        width: 100%;
        height: 18%;
        text-align: center;
        position: relative;
        left: 0;
        top: 70px;
    }
    
    #dateilsbouncy {
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    
    #textdateils {
        font-size: 18px;
        margin-top: 15px;
        line-height: 1.5;
        width: 100%;
    }
    
    #boxbutton{
        width: 40%;
        height: 15%;
        position: relative;
        left: 30%;
        top: 40px;
        gap: 20px;
    }
    
    .circlebutton {
        width: 80px;
        height: 80px;
    }
    
    #creative {
        width: 40%;
        height: 7%;
        font-size: 30px;
        position: relative;
        left: 30%;
        top: 4%;
        text-align: center;
    }
    
    #dsintext {
        width: 98%;
        height: 50%;
        position: relative;
        left: 1%;
        top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #textleft {
        width: 100%;
        height: 45%;
        font-size: 20px;
        line-height: 2;
        text-align: center;
    }
    
    #textright {
        width: 100%;
        height: 50%;
        font-size: 17px;
        line-height: 2.5;
        text-align: center;
    }
    }

    @media (max-width:600px) {
        #detailstext {
            width: 100%;
            height: 11%;
            text-align: center;
            position: relative;
            left: 0;
            top: 10%;
        }
        
        #dateilsbouncy {
            font-size: 20px;
            letter-spacing: 5px;
            font-weight: 700;
        }
        
        #textdateils {
            font-size: 13px;
            margin-top: 15px;
            line-height: 1.5;
            width: 100%;
        }
        
        #boxbutton{
            width: 40%;
            height: 12%;
            position: relative;
            left: 30%;
            top: 80px;
            gap: 20px;
        }
        
        .circlebutton {
            width: 50px;
            height: 50px;
        }

        .iconcircle {
            width: 30px;
            height: 30px;
        }
        
        #creative {
            width: 40%;
            height: 5%;
            font-size: 20px;
            position: relative;
            left: 30%;
            top: 12%;
            text-align: center;
        }
        
        #dsintext {
            width: 98%;
            height: 45%;
            position: relative;
            left: 1%;
            top: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
        #textleft {
            width: 100%;
            height: 30%;
            font-size: 18px;
            line-height: 2;
            text-align: center;
        }
        
        #textright {
            width: 100%;
            height: 50%;
            font-size: 13px;
            line-height: 2.5;
            text-align: center;
        }
        }

        @media (max-width:430px) {
            #detailstext {
                width: 100%;
                height: 11%;
                text-align: center;
                position: relative;
                left: 0;
                top: 100px;
            }
            
            #dateilsbouncy {
                font-size: 16px;
                letter-spacing: 5px;
                font-weight: 700;
            }
            
            #textdateils {
                font-size: 11px;
                margin-top: 15px;
                line-height: 1.5;
                width: 100%;
            }

            #boxbutton{
                width: 40%;
                height: 12%;
                position: relative;
                left: 30%;
                top: 100px;
                gap: 20px;
            }

            #creative {
                width: 40%;
                height: 5%;
                font-size: 16px;
                position: relative;
                left: 30%;
                top: 160px;
                text-align: center;
            }
            #dsintext {
                width: 98%;
                height: 250px;
                position: relative;
                left: 1%;
                top: 170px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            
            #textleft {
                width: 100%;
                height: 30%;
                font-size: 13px;
                line-height: 2;
                text-align: center;
            }
            
            #textright {
                width: 100%;
                height: 50%;
                font-size: 11px;
                line-height: 2.5;
                text-align: center;
            }
        }
@media (max-width:365px) {
    #textright {
        width: 60%;
        height: 50%;
        font-size: 11px;
        line-height: 2;
        text-align: center;
    }

    #creative {
        width: 40%;
        height: 5%;
        font-size: 16px;
        position: relative;
        left: 30%;
        top: 130px;
        text-align: center;
    }
    #dsintext {
        width: 98%;
        height: 250px;
        position: relative;
        left: 1%;
        top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}   

@media (max-width:340px) {
    #textright {
        width: 70%;
        height: 50%;
        font-size: 10px;
        line-height: 2;
        text-align: center;
    }

    #textdateils {
        font-size: 9px;
        margin-top: 15px;
        line-height: 1.5;
        width: 100%;
    }
}

@media (max-width:280px) {
    #detailstext {
        width: 100%;
        height: 11%;
        text-align: center;
        position: relative;
        left: 0;
        top: 100px;
    }
    
    #dateilsbouncy {
        font-size: 14px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    
    #textdateils {
        font-size: 9px;
        margin-top: 15px;
        line-height: 1.5;
        width: 100%;
    }

    #textright {
        width: 70%;
        height: 50%;
        font-size: 10px;
        line-height: 2;
        text-align: center;
    }

    #boxbutton{
        width: 40%;
        height: 12%;
        position: relative;
        left: 30%;
        top: 100px;
        gap: 20px;
    }

    #creative {
        width: 40%;
        height: 5%;
        font-size: 15px;
        position: relative;
        left: 30%;
        top: 120px;
        text-align: center;
    }

    #dsintext {
        position: relative;
        left: 1%;
        top: 120px;
    }
}   

/* Представленные проекты */

