/* Bouncy главная страница */

@media (max-width:1100px) {
    #hdtext {
        width: 90%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 5%;
        top: 35%;
    }
    #hdh2 {
        font-size: 35px;
        letter-spacing: 7px;
    }
    #hdintext {
        font-size: 20px;
        line-height: 1.5;
    }
}

@media (max-width:1000px) {
    #menulogo {
        width: 50%;
        height: 40px;
        position: absolute;
        top: 80px;
        left: 39%;
    }
    .textmenu {
        font-size: 17px;
        width: 70px;
        height: 30px;
    }
    #gap1 {
        width: 80px;
    }
    #gap2 {
        width: 80px;
    }
    #logo {
        width: 11%;
        height: 6%;
        font-size: 38px;
        position: relative;
        left: 5%;
        top: 71px;
    }
    #hdtext {
        width: 90%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 5%;
        top: 35%;
    }
    #hdh2 {
        font-size: 35px;
        letter-spacing: 7px;
    }
    #hdintext {
        font-size: 20px;
        line-height: 1.5;
    }
    #buttop {
        position: fixed;
        right: 20px;
        top: 5%;
        z-index: 90;
    }
    #butbot {
        position: fixed;
        right: 20px;
        bottom: 5%;
        z-index: 90;
    }
    #buttonbottomblock {
        position: absolute;
        bottom: 8%;
    }
    
    #buttonbottom {
        width: 38px;
        height: 38px;
        transition: 100ms;
    }
}
@media (max-width:800px) {
    #menulogo {
        width: 50%;
        height: 40px;
        position: absolute;
        top: 120px;
        left: 25%;
    }
    .textmenu {
        font-size: 19px;
        width: 70px;
        height: 30px;
    }
    #gap1,
    #gap2 {
        width: 90px;
    }
    #gap3 {
        width: 85px;
    }
    #logo {
        width: 50%;
        height: 6%;
        font-size: 45px;
        position: relative;
        left: 25%;
        top: 52px;
        text-align: center;
    }
    #hdtext {
        width: 90%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 5%;
        top: 40%;
    }
    #hdh2 {
        font-size: 30px;
        letter-spacing: 7px;
    }
    #hdintext {
        font-size: 15px;
        line-height: 1.5;
        margin-top: 25px;
    }
}
@media (max-width:600px) {
    #menulogo {
        width: 50%;
        height: 270px;
        position: absolute;
        top: 15px;
        left: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3px;
    }
    .textmenu {
        font-size: 17px;
        width: 65px;
        height: 25px;
    }
    #gap1,
    #gap2 {
        width: 85px;
    }
    #gap3 {
        width: 80px;
    }
    #logo {
        width: 30%;
        height: 6%;
        font-size: 25px;
        position: relative;
        left: 10px;
        top: 10px;
        text-align: center;
    }
    #hdtext {
        width: 98%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 1%;
        top: 37%;
    }
    #hdh2 {
        font-size: 31px;
        letter-spacing: 3px;
        font-weight: 100;
    }
    #hdintext {
        font-size: 15px;
        line-height: 1.5;
        margin-top: 25px;
    }
    #buttonbottom {
        width: 32px;
        height: 32px;
    }
}
@media (max-width:400px) {
    #hdtext {
        width: 100%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 0;
        top: 42%;
    }
}
@media (max-width:300px) {
    #menulogo {
        width: 50%;
        height: 270px;
        position: absolute;
        top: 15px;
        left: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3px;
    }
    #hdtext {
        width: 100%;
        height: 40%;
        text-align: center;
        position: relative;
        left: 0;
        top: 42%;
    }
    #hdh2 {
        font-size: 21px;
        letter-spacing: 3px;
        font-weight: 100;
    }
    #hdintext {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 25px;
    }
}

/* Загрузочный экран */

@media (max-width:1200px) {
    #loadtext {
        font-size: 1vw;
    }
}
@media (max-width:1000px) {
    #bouncyload {
        font-size: 14vw;
    }
    #loadtext {
        font-size: 12px;
    }
    #loadline {
        width: 70%;
        height: 4.5%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }
}
@media (max-width:800px) {
    #loadtext {
        font-size: 11px;
    }
    #bouncyload {
        font-size: 13vw;
    }
    #loadline {
        width: 70%;
        height: 5%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }
}
@media (max-width:600px) {
    #loadtext {
        font-size: 10px;
    }
    #bouncyload {
        font-size: 14vw;
    }
    #loadline {
        width: 85%;
        height: 4.5%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }
}
@media (max-width:400px) {
    #loadtext {
        font-size: 8px;
    }
    #bouncyload {
        font-size: 13vw;
    }
    #loadline {
        width: 80%;
        height: 4%;
        outline: none;
        border: 2px rgba(255, 255, 255, 0.805) solid;
    }

}

/* Подробности о Bouncy */

@media (max-width:1100px) {
    #dateilsbouncy {
        font-size: 35px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    
    #textdateils {
        font-size: 20px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }
}

@media (max-width:1000px) {
#detailstext {
    width: 100%;
    height: 25%;
    text-align: center;
    position: relative;
    left: 0;
    top: 150px;
}

#dateilsbouncy {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 700;
}

#textdateils {
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.5;
    width: 100%;
}

#boxbutton{
    width: 40%;
    height: 15%;
    position: relative;
    left: 30%;
    top: 100px;
    gap: 20px;
}

.circlebutton {
    width: 90px;
    height: 90px;
}

#creative {
    width: 40%;
    height: 10%;
    font-size: 30px;
    position: relative;
    left: 30%;
    top: 100px;
    text-align: center;
}

#dsintext {
    width: 98%;
    height: 25%;
    position: relative;
    left: 1%;
    top: 10%;
    display: flex;
    justify-content: space-between;
}

#textleft {
    width: 40%;
    height: 100%;
    font-size: 17px;
    line-height: 2.5;
    text-align: center;
}

#textright {
    width: 60%;
    height: 100%;
    font-size: 14px;
    line-height: 2.5;
    text-align: center;
}
}

@media (max-width:800px) {
    #detailstext {
        width: 100%;
        height: 18%;
        text-align: center;
        position: relative;
        left: 0;
        top: 70px;
    }
    
    #dateilsbouncy {
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    
    #textdateils {
        font-size: 18px;
        margin-top: 15px;
        line-height: 1.5;
        width: 100%;
    }
    
    #boxbutton{
        width: 40%;
        height: 15%;
        position: relative;
        left: 30%;
        top: 40px;
        gap: 20px;
    }
    
    .circlebutton {
        width: 80px;
        height: 80px;
    }
    
    #creative {
        width: 40%;
        height: 7%;
        font-size: 30px;
        position: relative;
        left: 30%;
        top: 4%;
        text-align: center;
    }
    
    #dsintext {
        width: 98%;
        height: 50%;
        position: relative;
        left: 1%;
        top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #textleft {
        width: 100%;
        height: 45%;
        font-size: 20px;
        line-height: 2;
        text-align: center;
    }
    
    #textright {
        width: 100%;
        height: 50%;
        font-size: 17px;
        line-height: 2.5;
        text-align: center;
    }
    }

    @media (max-width:600px) {
        #detailstext {
            width: 100%;
            height: 11%;
            text-align: center;
            position: relative;
            left: 0;
            top: 10%;
        }
        
        #dateilsbouncy {
            font-size: 20px;
            letter-spacing: 5px;
            font-weight: 700;
        }
        
        #textdateils {
            font-size: 13px;
            margin-top: 15px;
            line-height: 1.5;
            width: 100%;
        }
        
        #boxbutton{
            width: 40%;
            height: 12%;
            position: relative;
            left: 30%;
            top: 80px;
            gap: 20px;
        }
        
        .circlebutton {
            width: 50px;
            height: 50px;
        }

        .iconcircle {
            width: 30px;
            height: 30px;
        }
        
        #creative {
            width: 40%;
            height: 5%;
            font-size: 20px;
            position: relative;
            left: 30%;
            top: 12%;
            text-align: center;
        }
        
        #dsintext {
            width: 98%;
            height: 45%;
            position: relative;
            left: 1%;
            top: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
        #textleft {
            width: 100%;
            height: 30%;
            font-size: 18px;
            line-height: 2;
            text-align: center;
        }
        
        #textright {
            width: 100%;
            height: 50%;
            font-size: 13px;
            line-height: 2.5;
            text-align: center;
        }
        }

        @media (max-width:430px) {
            #detailstext {
                width: 100%;
                height: 11%;
                text-align: center;
                position: relative;
                left: 0;
                top: 100px;
            }
            
            #dateilsbouncy {
                font-size: 16px;
                letter-spacing: 5px;
                font-weight: 700;
            }
            
            #textdateils {
                font-size: 11px;
                margin-top: 15px;
                line-height: 1.5;
                width: 100%;
            }

            #boxbutton{
                width: 40%;
                height: 12%;
                position: relative;
                left: 30%;
                top: 100px;
                gap: 20px;
            }

            #creative {
                width: 40%;
                height: 5%;
                font-size: 16px;
                position: relative;
                left: 30%;
                top: 160px;
                text-align: center;
            }
            #dsintext {
                width: 98%;
                height: 250px;
                position: relative;
                left: 1%;
                top: 170px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            
            #textleft {
                width: 100%;
                height: 30%;
                font-size: 13px;
                line-height: 2;
                text-align: center;
            }
            
            #textright {
                width: 100%;
                height: 50%;
                font-size: 11px;
                line-height: 2.5;
                text-align: center;
            }
        }
@media (max-width:365px) {
    #textright {
        width: 60%;
        height: 50%;
        font-size: 11px;
        line-height: 2;
        text-align: center;
    }

    #creative {
        width: 40%;
        height: 5%;
        font-size: 16px;
        position: relative;
        left: 30%;
        top: 130px;
        text-align: center;
    }
    #dsintext {
        width: 98%;
        height: 250px;
        position: relative;
        left: 1%;
        top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}   

@media (max-width:340px) {
    #textright {
        width: 70%;
        height: 50%;
        font-size: 10px;
        line-height: 2;
        text-align: center;
    }

    #textdateils {
        font-size: 9px;
        margin-top: 15px;
        line-height: 1.5;
        width: 100%;
    }
}

@media (max-width:280px) {
    #detailstext {
        width: 100%;
        height: 11%;
        text-align: center;
        position: relative;
        left: 0;
        top: 100px;
    }
    
    #dateilsbouncy {
        font-size: 14px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    
    #textdateils {
        font-size: 9px;
        margin-top: 15px;
        line-height: 1.5;
        width: 100%;
    }

    #textright {
        width: 70%;
        height: 50%;
        font-size: 10px;
        line-height: 2;
        text-align: center;
    }

    #boxbutton{
        width: 40%;
        height: 12%;
        position: relative;
        left: 30%;
        top: 100px;
        gap: 20px;
    }

    #creative {
        width: 40%;
        height: 5%;
        font-size: 15px;
        position: relative;
        left: 30%;
        top: 120px;
        text-align: center;
    }

    #dsintext {
        position: relative;
        left: 1%;
        top: 120px;
    }
}   

/* Представленные проекты */

@media (max-width:1100px) {
    #featuredproject {
        font-size: 35px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 20px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }
}

@media (max-width:1000px) {
    #projtext {
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        top: 30px;
    }

    #featuredproject {
        font-size: 35px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 20px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }

    #fpprojectsbox {
        width: 100%;
        height: 40%;
        position: relative;
        top: 7%;
    }

    #fpimgbox {
        width: 100%;
        height: 400px;
    }

    #fpimg {
        width: 34%;
        height: 400px;
    }
    #fpimg2 {
        width: 33%;
        height: 400px;
    }    
    #fpimg3 {
        width: 33%;
        height: 400px;
    } 
    .filterimg span {
        font-size: 20px;
        letter-spacing: 5px;
    }
    #fpbottomimg {
        width: 100%;
        height: 120px;
    }
    #submittext {
        font-size: 17px;
    }
    #submit {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    #projtext {
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        top: 50px;
    }

    #featuredproject {
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 13px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }

    #fpprojectsbox {
        width: 100%;
        height: 40%;
        position: relative;
        top: 20px;
    }

    #fpimgbox {
        width: 80%;
        height: 450px;
        position: relative;
        left: 10%;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #fpimg {
        width: 100%;
        height: 250px;
    }
    #fpimg:active{
        filter: blur(10px);
        transition: 10ms;
    }
    #fpimg2 {
        width: 50%;
        height: 200px;
        filter: grayscale(0);
    }    
    #fpimg3 {
        width: 50%;
        height: 200px;
        filter: grayscale(0);
    } 
    .filterimg {
        display: none;
    }
    #fpbottomimg {
        width: 80%;
        height: 100px;
        position: relative;
        left: 10%;
        top: 0;
    }
    #submittext {
        font-size: 11px;
    }
    #submit {
        width: 80px;
        height: 25px;
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    #projtext {
        width: 100%;
        height: 15%;
        text-align: center;
        position: relative;
        top: 10px;
    }

    #featuredproject {
        font-size: 20px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 12px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }

    #fpprojectsbox {
        width: 100%;
        height: 40%;
        position: relative;
        top: 20px;
    }

    #fpimgbox {
        width: 80%;
        height: 540px;
        position: relative;
        left: 10%;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #fpimg {
        width: 100%;
        height: 180px;
    }
    #fpimg2 {
        width: 100%;
        height: 180px;
    }  
    #fpimg2:hover {
        width: 100%;
        transition: 1s;
        background-size: cover; 
        filter: grayscale(0);
    }  
    #fpimg2:active{
        filter: blur(10px);
        transition: 10ms;
    }
    #fpimg3 {
        width: 100%;
        height: 180px;
    } 
    #fpimg3:hover {
        width: 100%;
        transition: 1s;
        background-size: cover;
        filter: grayscale(0); 
    }
    #fpimg3:active{
        filter: blur(10px);
        transition: 10ms;
    }
    .filterimg span {
        font-size: 14px;
        letter-spacing: 5px;
    }
    #fpbottomimg {
        width: 80%;
        height: 80px;
        position: relative;
        left: 10%;
        top: 0;
    }
    #submittext {
        font-size: 9px;
    }
    #submit {
        width: 80px;
        height: 25px;
        font-size: 9px;
    }
}

@media (max-width: 500px) {
    #projtext {
        width: 100%;
        height: 15%;
        text-align: center;
        position: relative;
        top: 10px;
    }

    #featuredproject {
        font-size: 20px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 12px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }

    #fpprojectsbox {
        width: 100%;
        height: 40%;
        position: relative;
        top: 20px;
    }

    #fpimgbox {
        width: 100%;
        height: 570px;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #fpimg {
        width: 100%;
        height: 190px;
    }
    #fpimg2 {
        width: 100%;
        height: 190px;
    }  
    #fpimg2:hover {
        width: 100%;
        transition: 1s;
        background-size: cover; 
        filter: grayscale(0);
    }  
    #fpimg2:active{
        filter: blur(10px);
        transition: 10ms;
    }
    #fpimg3 {
        width: 100%;
        height: 190px;
    } 
    #fpimg3:hover {
        width: 100%;
        transition: 1s;
        background-size: cover;
        filter: grayscale(0); 
    }
    #fpimg3:active{
        filter: blur(10px);
        transition: 10ms;
    }
    .filterimg span {
        font-size: 14px;
        letter-spacing: 5px;
    }
    #fpbottomimg {
        width: 100%;
        height: 80px;
        position: relative;
        left: 0;
        top: 0;
    }
    #submittext {
        font-size: 9px;
    }
    #submit {
        width: 80px;
        height: 25px;
        font-size: 9px;
    }
}

@media (max-width: 400px) {

    #featuredproject {
        font-size: 17px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 10px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }

    #fpimgbox {
        width: 100%;
        height: 480px;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #fpimg {
        width: 100%;
        height: 160px;
    }
    #fpimg2 {
        width: 100%;
        height: 160px;
    }  
    #fpimg3 {
        width: 100%;
        height: 160px;
    } 

    #fpbottomimg {
        width: 100%;
        height: 60px;
        position: relative;
        left: 0;
        top: 0;
    }
    #submittext {
        font-size: 8px;
        text-align: center;
    }
    #submit {
        width: 70px;
        height: 20px;
        font-size: 8px;
        margin-right: 7px;
    }
}
@media (max-width: 280px) {
    #featuredproject {
        font-size: 15px;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #textfeature {
        font-size: 9px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }
}

/* Нашы сервисы */

@media (max-width: 1100px) {
    #ostext {
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 35px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 20px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }
    .circlename {
        width: 33%;
        height: 100%;
        font-size: 2vw;
    }
    .circlebox2 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        gap: 1px;
        position: relative;
        left: 7px;
        top: 0;
    }
}

@media (max-width: 1000px) {
    #ostext {
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 35px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 20px;
        margin-top: 30px;
        line-height: 1.5;
        width: 100%;
    }

    #servicebox {
        width: 98%;
        height: 40%;
        position: relative;
        left: 1%;
        top: 30px;
        display: flex;
    }

    #graphic {
        font-family: "NotoSansJP-Regular";
        font-size: 20px;
        color: #504f4f;
        font-weight: 700;
    }
    
    #largetext {
        font-size: 15.5px;
        color: #7c7878;
        line-height: 1.5;
    }

    #smalltext {
        font-size: 13.5px;
        color: #7c7878;
        line-height: 1.5;
    }

    .kruh {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 850px) {
    #ostext {
        width: 100%;
        height: 150px;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 18px;
        margin-top: 10px;
        line-height: 1.5;
        width: 100%;
    }

    #servicebox {
        width: 98%;
        height: 540px;
        position: relative;
        left: 1%;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #textbutton {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
    }

    #graphic {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
    
    #largetext {
        width: 100%;
        font-size: 17px;
        text-align: center;
        margin-top: 10px;
    }

    #smalltext {
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin-top: -10px;
    }

    .kruh {
        width: 160px;
        height: 160px;
    }

    #line {
        width: 2100px;
        height: 20px;
        position: relative;
        top: 30px;
    }

    .inbox1 {
        width: 100%;
        height: 330px;
        display: flex;
        gap: 8%;
        flex-direction: column;

    }    

    .inbox2 {
        width: 100%;
        height: 210px;
        display: block;
    }

    .circlebox1 {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        justify-content: center;
    }

    .circlebox2 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        gap: 1px;
        position: relative;
        left: 1px;
        top: 0;
    }

    .circlename {
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    #buttonleft {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    }

    .buttonos {
        width: 70px;
        height: 70px;
    }

    #icon4 {
        width: 34px;
        height: 34px;
    }
}

@media (max-width: 600px) {
    #ostext {
        width: 100%;
        height: 120px;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 15px;
        margin-top: 10px;
        line-height: 1.5;
        width: 100%;
    }
    .buttonos {
        width: 65px;
        height: 65px;
    }

    #icon4 {
        width: 32px;
        height: 32px;
    }
    #graphic {
        width: 100%;
        font-size: 21px;
        text-align: center;
    }
    .kruh {
        width: 160px;
        height: 160px;
    }
}    

@media (max-width: 500px) {
    #ostext {
        width: 100%;
        height: 120px;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 22px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 12px;
        margin-top: 10px;
        line-height: 1.5;
        width: 100%;
    }
    .buttonos {
        width: 65px;
        height: 65px;
    }

    #icon4 {
        width: 32px;
        height: 32px;
    }
    #graphic {
        width: 100%;
        font-size: 19px;
        text-align: center;
    }
    #largetext {
        width: 100%;
        font-size: 17px;
        text-align: center;
        margin-top: 10px;
    }

    #smalltext {
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin-top: -10px;
    }
    .buttonos {
        width: 55px;
        height: 55px;
    }

    #icon4 {
        width: 29px;
        height: 29px;
    }
    .inbox1 {
        width: 100%;
        height: 290px;
        display: flex;
        gap: 8%;
        flex-direction: column;
    } 

    #ourservices {
        width: 100%;
        height: 950px;
    }
    .inbox2 {
        width: 100%;
        height: 500px;
        display: flex;
    }
    #servicebox {
        width: 98%;
        height: 740px;
        position: relative;
        left: 1%;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .circlebox1 {
        width: 50%;
        height: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }

    .circlebox2 {
        width: 50%;
        height: 500px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1px;
    }

    #line {
        width: 2100px;
        height: 20px;
        position: relative;
        top: 70px;
    }
}    

@media (max-width: 400px) {
    #ostext {
        width: 100%;
        height: 90px;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 20px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 10px;
        margin-top: 10px;
        line-height: 1.5;
        width: 100%;
    }
    #graphic {
        width: 100%;
        font-size: 17px;
        text-align: center;
    }
    #largetext {
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    #smalltext {
        width: 100%;
        font-size: 13px;
        text-align: center;
        margin-top: 5px;
    }
    .inbox1 {
        width: 100%;
        height: 330px;
        display: flex;
        gap: 8%;
        flex-direction: column;
    } 
    #textbutton {
        width: 100%;
        height: 250px;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttonos {
        width: 45px;
        height: 45px;
    }

    #icon4 {
        width: 23px;
        height: 23px;
    }
}    

@media (max-width: 350px) {
    #ostext {
        width: 100%;
        height: 90px;
        text-align: center;
        position: relative;
        top: 30px;
    }
    #osh2 {
        font-size: 18px;
        letter-spacing: 5px;
        font-weight: 700;
    }
    #ostextin {
        font-size: 9px;
        margin-top: 10px;
        line-height: 1.5;
        width: 100%;
    }
    #graphic {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    #largetext {
        width: 100%;
        font-size: 11px;
        text-align: center;
        margin-top: 15px;
    }

    #smalltext {
        width: 100%;
        font-size: 9px;
        text-align: center;
        margin-top: 5px;
    }
    #buttonleft {
        width: 100%;
        height: 40px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    }
    #textbutton {
        width: 100%;
        height: 200px;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttonos {
        width: 40px;
        height: 40px;
    }

    #icon4 {
        width: 21px;
        height: 21px;
    }
    .circlebox1 {
        margin-left: 30px;
    }
    .circlename {
        font-size: 15px;
    }
    .circlebox2 {
        margin-left: -40px;
    }
}

/* Портфолио */

@media (max-width:1100px) {
    #theportfolio {
        width: 100%;
        height: 160px;
        text-align: center;
        position: relative;
        top: 50px;
    }
    #tph2 {
        font-size: 35px;
        letter-spacing: 7px;
    }
    #tptext {
        font-size: 18px;
        line-height: 1.5;
    }
    #menufoto {
        width: 66%;
        height: 100px;
        position: relative;
        top: 80px;
        left: 18%;
    }
    .textfoto {
        font-size: 22px;
    }
    #sectionfoto {
        width: 76%;
        height: 60%;
        position: relative;
        top: 100px;
        left: 12%;
    }
    #bottomfoto {
        width: 76%;
        height: 170px;
        position: relative;
        top: 130px;
        left: 12%;
    }
}

@media (max-width:1000px) {
    .textfoto {
        font-size: 20px;
    }
    #sectionfoto {
        width: 100%;
        height: 60%;
        position: relative;
        top: 100px;
        left: 0;
    }
    #menufoto {
        width: 84%;
        height: 100px;
        position: relative;
        top: 80px;
        left: 8%;
    }
    #bottomfoto {
        width: 100%;
        height: 170px;
        position: relative;
        top: 130px;
        left: 0;
    }
    #pd {
        font-size: 18px;
    }
    #startpj {
        width: 15%;
        height: 20%;
        font-size: 15px;
    }
}

@media (max-width:800px) {
    #theportfolio {
        width: 100%;
        height: 130px;
        text-align: center;
        position: relative;
        top: 50px;
    }
    #tph2 {
        font-size: 28px;
        letter-spacing: 7px;
    }
    #tptext {
        font-size: 15px;
        line-height: 1.5;
    }
    #portfolio {
        width: 100%;
        height: 2000px;
    }
    #sectionfoto {
        width: 80%;
        height: 1500px;
        position: relative;
        top: 100px;
        left: 10%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5%;
    }
    #menufoto {
        width: 80%;
        height: 100px;
        position: relative;
        top: 80px;
        left: 10%;
    }
    .textfoto {
        font-size: 15px;
    }
    .foursection {
        width: 49%;
        height: 50%;
        margin-top: -10px;
    }
    #bottomfoto {
        width: 80%;
        height: 100px;
        position: relative;
        top: 150px;
        left: 10%;
    }
    #pd {
        font-size: 12px;
    }
    #startpj {
        width: 80px;
        height: 20px;
        font-size: 9.5px;
    }
    .fotohover:hover div {
        opacity: 0;
    }
    #foto22, 
    #foto41, 
    #foto23, 
    #foto31 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width:600px) {
    #theportfolio {
        width: 100%;
        height: 130px;
        text-align: center;
        position: relative;
        top: 50px;
    }
    #tph2 {
        font-size: 25px;
        letter-spacing: 7px;
    }
    #tptext {
        font-size: 13px;
        line-height: 1.5;
    }
    #portfolio {
        width: 100%;
        height: 2000px;
    }
    #sectionfoto {
        width: 100%;
        height: 1500px;
        position: relative;
        top: 100px;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    #menufoto {
        width: 90%;
        height: 100px;
        position: relative;
        top: 80px;
        left: 5%;
    }
    .textfoto {
        font-size: 13px;
    }
    .foursection {
        width: 49%;
        height: 50%;
    }
    #bottomfoto {
        width: 100%;
        height: 120px;
        position: relative;
        top: 140px;
        left: 0;
    }
    #pd {
        font-size: 12px;
    }
    #startpj {
        width: 80px;
        height: 20px;
        font-size: 9.5px;
    }
}
@media (max-width:450px) {
    #theportfolio {
        width: 100%;
        height: 100px;
        text-align: center;
        position: relative;
        top: 50px;
    }
    #tph2 {
        font-size: 22px;
        letter-spacing: 7px;
    }
    #tptext {
        font-size: 11px;
        line-height: 1.5;
    }
    #portfolio {
        width: 100%;
        height: 2000px;
    }
    #menufoto {
        width: 98%;
        height: 100px;
        position: relative;
        top: 80px;
        left: 1%;
    }
    .textfoto {
        font-size: 11px;
    }
    #bottomfoto {
        width: 100%;
        height: 80px;
        position: relative;
        top: 110px;
        left: 0;
    }
    #pd {
        font-size: 10px;
    }
    #startpj {
        width: 70px;
        height: 17px;
        font-size: 9px;
    }
    #sectionfoto {
        row-gap: 7px;
    }
}

@media (max-width:350px) {
    #theportfolio {
        width: 100%;
        height: 100px;
        text-align: center;
        position: relative;
        top: 50px;
    }
    #tph2 {
        font-size: 18px;
        letter-spacing: 7px;
    }
    #tptext {
        font-size: 9px;
        line-height: 1.5;
    }
    .textfoto {
        font-size: 9px;
    }
    #pd {
        font-size: 8px;
    }
    #startpj {
        width: 70px;
        height: 17px;
        font-size: 9px;
    }
}

/* Команда */

@media (max-width:1200px) {
    #teamh2 {
        font-size: 28px;
        letter-spacing: 7px;
    }
    #teamtext {
        font-size: 15px;
        line-height: 1.5;
    }
    #teamman {
        width: 40%;
        height: 100%;
    }
    #man {
        width: 100%;
        height: 100%;
    }
    
    #maninfo {
        width: 60%;
        height: 100%;
    }
}

@media (max-width:1000px) {
    #teamh2 {
        font-size: 35px;
        letter-spacing: 7px;
    }
    #teamtext {
        font-size: 18px;
        line-height: 1.5;
    }
    #teamman {
        width: 40%;
        height: 100%;
    }
    #man {
        width: 100%;
        height: 100%;
    }
    
    #maninfo {
        width: 60%;
        height: 100%;
    }
    #commandlist {
        width: 80%;
        height: 400px;
        text-align: center;
        position: relative;
        left: 10%;
        top: 20%;
        display: flex;
        justify-content: space-between;
        color: #504f4f;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .textinfo {
        font-size: 11px;
    }
}

@media (max-width:800px) {
    #teamh2 {
        font-size: 28px;
        letter-spacing: 7px;
    }
    #teamtext {
        font-size: 15px;
        line-height: 1.5;
    }
    #teamman {
        width: 40%;
        height: 100%;
    }
    #man {
        width: 100%;
        height: 100%;
    }
    
    #maninfo {
        width: 60%;
        height: 100%;
    }
    #commandlist {
        width: 98%;
        height: 400px;
        text-align: center;
        position: relative;
        left: 1%;
        top: 150px;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 15px;
    }
    .textinfo {
        font-size: 13px;
    }
    h3 {
        font-size: 20px;
    }
    input {
        width: 12px;
        height: 12px;
    }    
}

@media (max-width:700px) {
    #commandlist {
        width: 98%;
        height: 320px;
        text-align: center;
        position: relative;
        left: 1%;
        top: 150px;
    }
    #teamman {
        width: 35%;
        height: 100%;
    }
    #maninfo {
        width: 65%;
        height: 100%;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 13px;
    }
    .textinfo {
        font-size: 11px;
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width:700px) {
    #commandlist {
        width: 98%;
        height: 320px;
        text-align: center;
        position: relative;
        left: 1%;
        top: 150px;
    }
    #teamman {
        width: 35%;
        height: 100%;
    }
    #maninfo {
        width: 65%;
        height: 100%;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 13px;
    }
    .textinfo {
        font-size: 11px;
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width:600px) {
    #teamh2 {
        font-size: 25px;
        letter-spacing: 7px;
    }
    #teamtext {
        font-size: 13px;
        line-height: 1.5;
    }
    #commandlist {
        width: 90%;
        height: 450px;
        text-align: center;
        position: relative;
        left: 0;
        top: 140px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #teamman {
        width: 200px;
        height: 250px;
    }
    #maninfo {
        width: 100%;
        height: 200px;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .textinfo {
        font-size: 11px;
    }
    h3 {
        font-size: 17px;
    }
    #formradio {
        text-align: center;
        position: relative;
        top: 160px;
    }
    #svgman {
        width: 340px;
        height: 160px;
        margin-top: 5px;
    }
    #wrapscroll {
        margin-left: 0;
    }
}

@media (max-width:400px) {
    #teamh2 {
        font-size: 22px;
        letter-spacing: 7px;
    }
    #teamtext {
        font-size: 11px;
        line-height: 1.5;
        margin-top: 10px;
    }
    #commandlist {
        width: 96%;
        height: 500px;
        text-align: center;
        position: relative;
        left: 2%;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #teamman {
        width: 200px;
        height: 250px;
    }
    #maninfo {
        width: 100%;
        height: 250px;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .textinfo {
        font-size: 11px;
    }
    h3 {
        font-size: 17px;
    }
    #formradio {
        position: relative;
        top: 120px;
    }
}

@media (max-width:350px) {
    #teamh2 {
        font-size: 18px;
        letter-spacing: 7px;
    }
    #teamtext {
        font-size: 9px;
        line-height: 1.5;
        margin-top: 10px;
    }
    #svgman {
        display: none;
    }
    .infoman {
        width: 100%;
        height: 180px;
        display: block;
    }
    .curs {
        letter-spacing: 1px;
        font-size: 11px;
    }
    .textinfo {
        font-size: 10px;
    }
    h3 {
        font-size: 16px;
    }
    #formradio {
        position: relative;
        top: 120px;
    }
    input {
        width: 10px;
        height: 10px;
    }   
}


